@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap');

body
{
    font-family: 'Montserrat', sans-serif;
}
h6
{
    font-family: 'Playfair Display', serif;
}
.Payment
{
    margin-top: 30px;
    margin-left: 30px;
}
.Infor
{
    width:400px;
    top:50%;
    left:50%;
    margin-left:400px;
    margin-top:30px;
}
.Infor1
{
    width:400px;
    top:50%;
    left:50%;
    margin-left:800px;
    margin-top:-170px;
}
.AddNCancel
{
    margin-top:80px;
    margin-left:730px;
}
.table1
{
    width:300px;
    top:50%;
    left:50%;
    margin-left:300px;
    margin-top:80px;
}
.table2
{
    width:300px;
    top:50%;
    left:50%;
    margin-left:500px;
    margin-top:-153px;
}
