@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap');

body
{
    font-family: 'Montserrat', sans-serif;
}
h6
{
    font-family: 'Playfair Display', serif;
}
.Behavior
{
    margin-left:30px;
    margin-top:30px;
}
.thebuttons
{
    position: fixed;
    bottom:20px; 
    right: 157px;
}
.Compete
{
    width:160px;
    top:100%;
    left:100%;
    margin-left:200px;
    margin-top:0px;
}
.CompeteTable
{
    width:250px;
    margin-left:200px;
    margin-top:10px;
}


.Concern
{
    width:163px;
    position: absolute;
    width:300px;
    top:20%;
    left:55%;
}
.ConcernTable
{
    position: absolute;
    width:250px;
    top:25%;
    left:55%;
}
.InputScore1
{
    width:333px;
    margin-left:200px;
    margin-top:-5px;
}
.InputScore2
{
    width:333px;
    margin-left:742px;
    margin-top:-78px;
}