@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap');

body
{
    font-family: 'Montserrat', sans-serif;
}
h6
{
    font-family: 'Playfair Display', serif;
}
.Department
{
    width:300px;
    top:50%;
    left:50%;
    margin-left:200px;
    margin-top:150px;
}
.Position
{
    width:300px;
    top:50%;
    left:50%;
    margin-left:600px;
    margin-top:-38px;
}
.NextBut
{
    margin-top:100px;
    margin-left:100px;
}
