@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap');

body
{
    font-family: 'Montserrat', sans-serif;
}
h6
{
    font-family: 'Playfair Display', serif;
}
.StaffInfor
{
    margin-top: 30px;
    margin-left: 30px;
}
.Infor
{
    width:400px;
    top:50%;
    left:50%;
    margin-left:300px;
    margin-top:30px;
}
.Infor1
{
    width:400px;
    top:50%;
    left:50%;
    margin-left:700px;
    margin-top:-313px;
}
.WorkHis
{
    margin-top: 80px;
    margin-left: 300px;
}
.Graduate
{
    margin-top: 30px;
    margin-left: 300px;
}
.table
{
    width:700px;
    top:100%;
    left:100%;
    margin-left:300px;
    margin-top:10px;
}

.thebuttons
{
    margin-top:30px;
    margin-left:1050px;
    height:100px;
}
.ID
{
    width:190px;
    margin-left:400px;
    margin-top:-325px;
}
.Name
{
    width:190px;
    margin-left:400px;
    margin-top:12px;
}
.Gender
{
    width:200px;
    margin-left:400px;
    margin-top:12px;
}
.DOB
{
    width:180px;
    margin-left:440px;
    margin-top:12px;
}

.StartDate
{
    width:200px;
    margin-left:420px;
    margin-top:10px;
}
.Department
{
    width:190px;
    margin-left:840px;
    margin-top:-230px;
}
.Position
{
    width:230px;
    margin-left:800px;
    margin-top:10px;
}
.Branch
{
    width:230px;
    margin-left:800px;
    margin-top:10px;
}
.Mobile
{
    width:160px;
    margin-left:870px;
    margin-top:10px;
}
.Tel
{
    width:180px;
    margin-left:850px;
    margin-top:10px;
}
.Address
{
    width:230px;
    margin-left:800px;
    margin-top:10px;
}
.Bank
{
    width:180px;
    margin-left:850px;
    margin-top:10px;
}
.Training
{
    margin-left:300px;
    margin-top:30px;
}
