@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap');

body
{
    font-family: 'Montserrat', sans-serif;
}
h6
{
    font-family: 'Playfair Display', serif;
}
.Department
{
    margin-top: 30px;
    margin-left: 30px;
}
.Branch
{
    width:220px;
    margin-left:200px;
    margin-top:40px;
}
.Depart1
{
    width:340px;
    top:50%;
    left:50%;
    margin-left:500px;
    margin-top:70px;
}
.NextBut
{
    margin-top:100px;
    margin-left:1040px;
}
