@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap');

body
{
    font-family: 'Montserrat', sans-serif;
}
h6
{
    font-family: 'Playfair Display', serif;
}
.Position
{
    width:300px;
    top:50%;
    left:50%;
    margin-left:200px;
    margin-top:100px;
}
.MinSalary
{
    width:300px;
    top:50%;
    left:50%;
    margin-left:700px;
    margin-top:-38px;
}
.MaxSalary
{
    width:300px;
    top:50%;
    left:50%;
    margin-left:200px;
    margin-top:100px;
}
.PositionandSalary
{
    margin-top: 30px;
    margin-left: 30px;
}
.More
{
    width:350px;
    top:50%;
    left:50%;
    margin-left:935px;
    margin-top:80px;
}
.NextBut
{
    margin-top:30px;
    margin-left:800px;
}
