@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap');

body
{
    font-family: 'Montserrat', sans-serif;
}
h6
{
    font-family: 'Playfair Display', serif;
}
.StaffID
{
    width:300px;
    top:50%;
    left:50%;
    margin-left:200px;
    margin-top:100px;
}
.Branch
{
    width:300px;
    top:50%;
    left:50%;
    margin-left:750px;
    margin-top:-38px;
}
.Department
{
    width:300px;
    top:50%;
    left:50%;
    margin-left:-550px;
    margin-top:100px;
}
.Position
{
    width:300px;
    top:50%;
    left:50%;
    margin-left:550px;
    margin-top:-38px;
}
.MonthAndYear
{
    width: 300px;
    margin-left:-550px;
    margin-top:40px;
}
.NextBut
{
    margin-top:40px;
    margin-left:170px;
}
.table
{
    width:1000px;
    top:50%;
    left:50%;
    margin-left:200px;
    margin-top:40px;
}
.AddNCancel
{
    margin-top:80px;
    margin-left:1070px;
}
